@keyframes upAndDown {
  15% {
    transform-origin: center center;
    transform: scale(1.1, 1.1); }
  45% {
    transform-origin: center center;
    transform: scale(0.9, 0.9); }
  70% {
    transform-origin: center center;
    transform: scale(1.1, 1.1); }
  100% {
    transform-origin: center center;
    transform: scale(1, 1); } }

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px); }
  75% {
    opacity: 1;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  75% {
    opacity: 1;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromDownToUp {
  0% {
    opacity: 0;
    transform: translateY(150px); }
  75% {
    opacity: 1;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes pulseEffect1 {
  from {
    opacity: .4;
    transform: scale(0.5); }
  to {
    opacity: 0;
    transform: scale(7.5); } }

@keyframes pulseEffect2 {
  from {
    opacity: 0.6;
    transform: scale(0); }
  to {
    opacity: 0;
    transform: scale(6); } }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  padding: 0;
  margin: 0rem;
  line-height: 1.8;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  position: relative; }

*,
*::after,
*::before {
  list-style-type: none;
  text-decoration: none;
  box-sizing: inherit;
  line-height: inherit;
  margin: 0px; }

a {
  color: #fff; }

.heading__primary {
  margin-bottom: 10rem;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading__primary--main {
    font-size: 3.5rem;
    letter-spacing: .8rem;
    display: block;
    color: #fff;
    animation: moveFromLeft 1s ease-out; }
  .heading__primary--sub {
    font-size: 2rem;
    color: honeydew;
    letter-spacing: 1.6rem;
    display: block;
    margin-top: .5rem;
    animation: moveFromRight 1s ease-out; }

.heading-tartiary {
  font-size: 3.5rem; }

.lead {
  font-size: 1.6rem;
  color: #535656; }

.skill-icon {
  font-size: 9rem; }

.html {
  color: #ea6160; }

.css {
  color: #199cea; }

.javascript {
  color: #dcce12; }

.node {
  color: #34dc4a; }

.php {
  color: #bf03b8; }

.bootstrap {
  color: purple; }

.small--heading {
  font-size: 1.8rem;
  color: #4ab1d4cc;
  transition: all .35s;
  cursor: pointer;
  letter-spacing: 2px; }
  .small--heading:hover {
    color: #ff5400; }

.paragraph {
  font-size: 1.45rem;
  font-weight: 400;
  color: #5a5657; }

.text_crimson {
  color: #4accd4; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.btn:link, .btn:visited {
  padding: 1rem 3.5rem;
  font-size: 1.6rem;
  border-radius: 10rem;
  text-transform: uppercase;
  font-weight: 550;
  display: inline-block;
  position: relative;
  transition: all .25s;
  cursor: pointer;
  animation: moveFromDownToUp .8s ease-out .5s backwards; }

.btn:hover {
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.25);
  transform: translateY(-5px); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0; }

.btn:active {
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
  z-index: -1; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff;
    color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s;
  border-radius: 10rem;
  cursor: pointer; }

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3rem;
  text-align: justify;
  background-color: #fff;
  opacity: 0.85;
  border-radius: .2rem;
  padding: 1.5rem 2rem;
  position: relative;
  transition: all 0.3s;
  backface-visibility: hidden;
  box-shadow: 0rem 1rem 2.5rem rgba(0, 0, 0, 0.26); }
  .feature-box:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.26); }

.proficiency {
  width: 100%; }
  .proficiency__level {
    width: 100%;
    background-color: #d2d2d2;
    height: 2.5rem;
    border-radius: 2rem;
    margin-top: .7rem; }
    .proficiency__level__percent {
      height: 100%;
      border-radius: inherit;
      background-color: #2aadb5;
      text-align: center; }
      .proficiency__level__percent span {
        color: #fff;
        margin: auto;
        font-size: 1.4rem; }
    .proficiency__level .sixty {
      width: 60%; }
    .proficiency__level .eighty-five {
      width: 85%; }
    .proficiency__level .ninty-five {
      width: 95%; }
    .proficiency__level .thirty {
      width: 30%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.55)), url("../img/bg6.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }
  .header__navbar {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 4rem 2rem;
    position: relative; }
  .header__brand-name {
    letter-spacing: .3rem;
    font-size: 3rem; }
    .header__brand-name span {
      text-transform: uppercase;
      color: #4accd4;
      font-style: oblique; }
  .header__navigation ul {
    width: 100%;
    display: flex;
    flex-direction: row; }
    .header__navigation ul li {
      letter-spacing: 3px;
      text-transform: uppercase; }
      .header__navigation ul li a:link,
      .header__navigation ul li a:visited {
        margin-right: 3rem;
        font-size: 1.6rem;
        color: #f7f7f7;
        display: inline-block;
        cursor: pointer;
        transition: all .35s;
        padding: .5rem .2rem;
        backface-visibility: hidden;
        font-weight: 600;
        position: relative; }
      .header__navigation ul li a:link:hover,
      .header__navigation ul li a:visited:hover {
        transform: translateY(-4px); }
      .header__navigation ul li a::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .15s;
        backface-visibility: hidden; }
      .header__navigation ul li a:hover::after {
        border-bottom: 2px solid #4accd4;
        z-index: -1;
        transform: scaleX(1) scaleY(1);
        opacity: .85; }
  .header__text-box {
    position: absolute;
    padding: 1rem;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }

.section-about {
  padding: 25rem;
  background-color: #f1f1f1;
  margin-top: -15vh; }

.about-profile {
  position: relative;
  font-size: 1.6rem;
  color: #777;
  letter-spacing: 1px;
  height: auto; }
  .about-profile .img-box {
    width: 64%;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: #000;
    border-radius: 3px;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.35);
    overflow: hidden; }
    .about-profile .img-box .profile-image {
      width: 100%;
      height: 40rem;
      display: block;
      position: relative;
      transition: opacity .25s ease; }
    .about-profile .img-box:hover .profile-image {
      opacity: .75; }
    .about-profile .img-box::before {
      content: "";
      position: absolute;
      background-color: #000;
      top: 80%;
      left: 3%;
      right: 3%;
      bottom: 2%;
      z-index: 2;
      display: block;
      opacity: 0;
      border-radius: 3px;
      transform: scale(0, 1);
      transition: transform .3s ease, opacity .2s ease; }
    .about-profile .img-box:hover::before {
      transform: scale(1, 1);
      opacity: .25; }
    .about-profile .img-box .profile-name {
      position: absolute;
      top: 80%;
      left: 8%;
      right: 0;
      bottom: 0;
      font-size: 2.3rem;
      color: #f1f1f1;
      letter-spacing: 3px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      z-index: 5;
      opacity: 0;
      transform: scale(1, 0);
      transition: opacity .2s ease-in .15s, transform .2s ease-in .1s; }
    .about-profile .img-box:hover .profile-name {
      opacity: 1;
      transform: scale(1, 1); }
    .about-profile .img-box .profile-sub-name {
      position: absolute;
      top: 88%;
      left: 43%;
      right: 0;
      bottom: 0;
      font-size: 1.5rem;
      color: #f1f1f1;
      letter-spacing: 3px;
      font-family: cursive;
      font-style: oblique;
      font-weight: 700;
      z-index: 5;
      opacity: 0;
      transform: scale(0, 1);
      transition: opacity .2s ease-in .15s, transform .2s ease-in .1s; }
    .about-profile .img-box:hover .profile-sub-name {
      opacity: 1;
      transform: scale(1, 1); }
    .about-profile .img-box .rotate--icon {
      position: absolute;
      font-size: 2.3rem;
      top: 73%;
      left: 91%;
      right: 0;
      bottom: 0;
      opacity: 0;
      transform: scale(1.2);
      color: #4accd4;
      cursor: pointer;
      transition: opacity .2s ease-in; }
    .about-profile .img-box:hover .rotate--icon {
      opacity: 1; }
    .about-profile .img-box .logoAndSocial {
      width: 100%;
      height: 35%;
      position: absolute;
      top: -36%;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #161414; }
      .about-profile .img-box .logoAndSocial .profile-logo {
        width: 41%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .about-profile .img-box .logoAndSocial .profile-logo .wave1,
        .about-profile .img-box .logoAndSocial .profile-logo .wave2 {
          width: 20px;
          height: 20px;
          background-color: #d8d8d8;
          position: absolute;
          top: 35%;
          left: 44%;
          right: 0;
          bottom: 0;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          z-index: 20;
          opacity: 0; }
        .about-profile .img-box .logoAndSocial .profile-logo .userImg {
          width: 14rem;
          height: 13rem;
          display: block;
          position: absolute;
          z-index: 80; }
      .about-profile .img-box .logoAndSocial .profile-social {
        width: 59%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 41%;
        right: 0;
        bottom: 0;
        padding: 2rem .8rem; }
        .about-profile .img-box .logoAndSocial .profile-social h5 {
          font-size: 1.1rem;
          color: #d1d1d1;
          text-transform: uppercase;
          margin-bottom: 1rem; }
        .about-profile .img-box .logoAndSocial .profile-social h6 {
          color: #d1d1d1;
          font-size: 1.3rem;
          font-style: oblique; }
        .about-profile .img-box .logoAndSocial .profile-social .allsocialicons {
          margin-left: 2rem; }
          .about-profile .img-box .logoAndSocial .profile-social .allsocialicons .social-icon {
            font-size: 2rem;
            color: #4accd4;
            margin-right: 1.5rem;
            margin-top: 1rem; }
    .about-profile .img-box .profile-after-jquery {
      width: 100%;
      height: 65%;
      position: absolute;
      top: 35%;
      left: -101%;
      right: 0;
      bottom: 0;
      z-index: 10; }
      .about-profile .img-box .profile-after-jquery .profile-information {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        padding: 3rem 3.5rem; }
        .about-profile .img-box .profile-after-jquery .profile-information h4 {
          margin-bottom: .4rem;
          font-size: 1.8rem;
          letter-spacing: 1px; }
        .about-profile .img-box .profile-after-jquery .profile-information h4 span {
          color: #2aadb5;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 2rem; }
          .about-profile .img-box .profile-after-jquery .profile-information h4 span.name {
            margin-right: 1.5rem; }
          .about-profile .img-box .profile-after-jquery .profile-information h4 span.work {
            margin-right: 1.5rem; }
          .about-profile .img-box .profile-after-jquery .profile-information h4 span.live {
            margin-right: 1.5rem; }
          .about-profile .img-box .profile-after-jquery .profile-information h4 span.email {
            margin-right: 1.5rem; }
          .about-profile .img-box .profile-after-jquery .profile-information h4 span.phone {
            margin-right: 1.5rem; }
    .about-profile .img-box:hover .wave1 {
      animation: pulseEffect1 2s infinite linear; }
    .about-profile .img-box:hover .wave2 {
      animation: pulseEffect2 2s infinite linear; }

.section-skills {
  padding: 20rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.67), rgba(13, 142, 136, 0.35)), url("../img/section3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform: skewY(-5deg);
  margin-top: -8.3rem; }
  .section-skills > * {
    transform: skewY(5deg); }
