// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//COLOR
$color-white: #fff;
$color-very-light-grey: #f1f1f1;
$color-light-grey: #f7f7f7;
$color-light-grey-2: #efefef;
$color-dark-grey: #777;
$color-black: #000;
$color-light-blue: #4accd4;
$color-dark-blue: #2aadb5;
$color-light-green: #61f36e;
$color-dark-green: #0eb176;

//text
$text-crimson: crimson;
$default-font-size: 1.6rem;
