html {
	height: 100%;
	font-size: 62.5%; // what 1rem is  == 10px;
}

body {
	padding: 0;
	margin: 0rem;
	line-height: 1.8;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	position: relative;
}

*,
*::after,
*::before {
	list-style-type: none;
	text-decoration: none;
	box-sizing: inherit;
	line-height: inherit;
	margin: 0px;
}

a {
	color: $color-white;
}
